@page
@model WordsTeacher.UI.Pages.AccountModel
@{
}

@section nav_section{
	<header>
		<div class="navi">
			<nav>
				<ul class="navi-ul">

					<li class="navi-li">
						<a class="navi-a" asp-area="" asp-page="/WordPage">Words</a>
					</li>
					<li class="navi-li">
						<a class="navi-a" asp-area="" asp-page="/Train">Train</a>
					</li>

					@if (User.Identity is not null && User.Identity.IsAuthenticated)
					{
						<li class="navi-li li-last">
							<a class="navi-a" id="active-page-nav" asp-page="/Account">
								@Model.User.Identity?.Name
								<img class="img-nav" src="images/user_icn_green.png" />
							</a>
							
							@*<div class="dropdown-menu">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>*@
						</li>
					}
					else
					{
						<li class="navi-li li-last">
							<a class="navi-a" id="active-page-nav" asp-area="" asp-page="/Index">Sign In</a>
						</li>
					}
				</ul>
			</nav>
		</div>

	</header>
}



<div>
	<div id="tab"> 
		<ul class="sidebar-ul">
			<li class="sidebar-li">
					<a href="#" id="active-sidebar" class="sidebar-button" onclick="openSidebarTab (event, 'main')"> Main </a>
				</li>
			<li class="sidebar-li">
				<a href="#" class="sidebar-button" onclick="openSidebarTab (event, 'settings')"> Settings </a>
				</li>
				<li class="sidebar-li empty">

				</li>
			<li class="sidebar-li signout">
				<a class="sidebar-button" asp-page="/Logout"> Sign out </a>
			</li>
		</ul>
		
	</div>




	<div id="main" class="sidebar-content">
		<h2 class="heading2" style="text-align: center; padding-top: 20px"> Hello, @Model.User.Identity?.Name </h2>
		<div style="font-size: 20px; padding-left: 40px;"> Words added: @Model.WordsPerUser </div>
	</div>


	<div id="settings" class="sidebar-content"> 
		<h3> SETTINGs </h3>
		<form method="post">
			<p> Change Password </p>
			<div>
				<label> Current Password: </label>
				<input />
			</div>
			<div>
				<label> New Password: </label>
				<input />
			</div>
			<div>
				<label> Confirm new Password: </label>
				<input />
			</div>
			<div>
				<input type="submit" value="Change" asp-page-handler="changePassword" />
			</div>
		</form>
	</div>

</div>

@*<div class="container">
	<div class="tab">
		<button class="sidebar-button" onclick="openSidebarTab (event, 'main')" > Main </button>
		<button class="sidebar-button" onclick="openSidebarTab (event, 'settings')" id="defaultOpen"> Settings </button>
	</div>

	<div id="main" class="sidebar-content">
		<h3> Hello, @Model.User.Identity?.Name </h3>
		<p> Words added: @Model.WordsPerUser </p>
	</div>

	<div id="settings" class="sidebar-content">
		<div> SETTINGS </div>
	</div>
</div>*@


@section Scripts {
<script>
	function openSidebarTab (evt, tabName) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName("sidebar-content");
		for (i = 0; i < tabcontent.length; i++)
		{
			tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName("sidebar-button");
		for (i = 0; i < tablinks.length; i++)
		{
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}

		document.getElementById(tabName).style.display = "block";
		evt.currentTarget.className += " active";
	}

	document.getElementById("active-sidebar").click();
</script>

		}

		