@page
@model TrainModel
@{
	ViewData["Title"] = "Train Bruh";
}

@section nav_section{
	<header>
		<div class="navi">
			<nav>
				<ul class="navi-ul">

					<li class="navi-li">
						<a class="navi-a" asp-area="" asp-page="/WordPage">Words</a>
					</li>
					<li class="navi-li">
						<a class="navi-a" id="active-page-nav" asp-area="" asp-page="/Train">Train</a>
					</li>

					@if (User.Identity is not null && User.Identity.IsAuthenticated)
					{
						<li class="navi-li li-last">
							<a class="navi-a" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
								@Model.User.Identity?.Name
								<img class="img-nav" src="images/user_icn.png" />
							</a>

							<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
								<li class="sidebar-li">
									<a class="sidebar-button" asp-page="/Account">Manage account</a>
								</li>
								<li class="sidebar-li empty">

								</li>
								<li class="sidebar-li signout">
									<a class="sidebar-button" asp-page="/Logout">Sign out</a>
								</li>
							</ul>
						</li>
					}
					else
					{
						<li class="navi-li li-last">
							<a class="navi-a" asp-area="" asp-page="/Index">Sign In</a>
						</li>
					}
				</ul>
			</nav>
		</div>

	</header>
}




<div class="container">
	<div class="word-train">
		<p class="word-from-train">@Model.DisplayedWordToTranslate </p>
	</div>
	<div>
		<form method="post" autocomplete="off">
			<div class="form-group row train-div-row">
				<label class="col-form-label col-sm-2"> Translation? </label>
				<div class="col-sm-5">
					<input class="form-control col" asp-for="TranslatedWordFromUser" required onfocus="this.value=''" autofocus />
				</div>
				<div class="col">
					<input class="btn btn-secondary" type="submit" value="Check?" asp-page-handler="Check" />
				</div>
				<input type="hidden" name="index" value="@Model.CurrentWordIndex" />
			</div>
		</form>
		<form method="post">
			<div class="col cnr">
				<input class="col cnr-input btn" type="submit" value="Could not remember" asp-page-handler="notRemember" />
			</div>
			<input type="hidden" name="index" value="@Model.CurrentWordIndex" />
		</form>
	</div>

	<div class="word-train">
		@if (Model.CheckingResult == "true")
		{
			<p class="word-from-train" style="background-color: green"> @Model.UA_DefinitionPreviousWord - @Model.TranslatedWordFromUser </p>
		}
		else if (Model.CheckingResult == "false")
		{
			<p class="word-from-train" style="background-color: red"> @Model.UA_DefinitionPreviousWord  - @Model.EN_MeaningPreviousWord </p>
		}
		else
		{
			<p class="word-from-train" style="background-color: lightgrey"> @Model.CheckingResult </p>
		}
	</div>
</div>
