@page
@model TrainModel
@{
    ViewData["Title"] = "Train Bruh";
}

@section nav_section{
<header>
    <div class="container-fluid navi">
        <nav class="navbar justify-content-center ">
            <ul class="nav">

                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-page="/WordPage">Words</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" asp-area="" asp-page="/Train">Train</a>
                </li>

                @if (User.Identity is null || !User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link last" asp-area="" asp-page="/Index">Login</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link last" asp-area="" asp-page="/Index">Logout (@User.Identity.Name)</a>
                    </li>
                }
            </ul>
        </nav>
    </div>

</header>
}


<div class="container">
    <div class="word-train">
        <p class="word-from-train">@Model.DisplayedWord.ToUpper() </p>
    </div>

    <div>
        <form method="post">
            <div>
                <label> Translation? </label>
                <input asp-for="TranslatedWord" required onfocus="this.value=''" autofocus/>
                <input type="submit" value="Check?" />
                <input type="hidden" name="index" value="@Model.WordIndex" />
            </div>
        </form>
    </div>   

    <div>
        <p id = "resultOfChecking">@Model.CheckingResult</p>

    </div>
</div>


        
<script>
    const box = document.getElementById("resultOfChecking");

    window.addEventListener("load", () => {
        if (@Model.CheckingResult == "true")
        {
            box.style.backgroundColor = "green"; // IT WORKS
        }
        else
        {
            box.style.backgroundColor = "red";
        }
    });
</script>