@page
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager; 
@model WordPageModel
@{
	ViewData["Title"] = "Words Bruh";
}

@section nav_section{
	<header>
		<div class="navi">
			<nav>
				<ul class="navi-ul">

					<li class="navi-li">
						<a class="navi-a" id="active-page-nav" asp-area="" asp-page="/WordPage">Words</a>
					</li>
					<li class="navi-li">
						<a class="navi-a"  asp-area="" asp-page="/Train">Train</a>
					</li>

					@if (User.Identity is not null && User.Identity.IsAuthenticated)
					{
						<li class="navi-li li-last">
							<a class="navi-a" asp-page="/Account">
								@Model.User.Identity?.Name
								<img class="img-nav" src="images/user_icn.png" />
							</a>

							@*<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Action</a>
					<a class="dropdown-item" href="#">Another action</a>
					<a class="dropdown-item" href="#">Something else here</a>
					</div>*@
						</li>
					}
					else
					{
						<li class="navi-li li-last">
							<a class="navi-a" asp-area="" asp-page="/Index">Sign In</a>
						</li>
					}
				</ul>
			</nav>
		</div>
	</header>
}

<div class="addwordsection">
	<div class="heading-word"><h2 class="heading2"> Add new word </h2></div>
	<form method="post" autocomplete="off">
		<div class="form-group row">
			@*	<input asp-for="OneWord.NickName" type="hidden" />
			<input asp-for="OneWord.Id" type="hidden" />*@

			<label class="col-form-label col-sm-2">Word [EN]</label>
			<div class="col-sm-10">
				<input class="form-control" asp-for="OneWord.Definition" autofocus required />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-sm-2">Translation [UA]</label>
			<div class="col-sm-10">
				<input class="form-control" asp-for=" OneWord.Meaning" required />
			</div>
		</div>
		<div class="heading-word">
			<input class="btn btn-primary" type="submit" value="Add" />
		</div>
		<p> @Model.ErrorAddingMessage </p>
	</form>

</div>

<div>
	<div class="heading-word">
		<h2 class="heading2"> Words </h2>
	</div>
	@{
		@if (Model.Words.Count() > 0)
		{
			<div class="row">
				@foreach (var word in Model.Words)
				{
					<div class="col-lg-4 col-md-6 col-6">
						<p class="words">
							<form asp-page-handler="delete" method="post">
								<input type="hidden" name="word" value="@word.Definition" />
								<input type="hidden" name="meaning" value="@word.Meaning" />
								<button class="btn btn-outline-danger btn-sm">Del</button>
								<span class="word-span">@word.Definition - @word.Meaning </span>
							</form>
						</p>
					</div>
				}
			</div>
		}
	}
</div>

