@page
@model WordPageModel
@{
	ViewData["Title"] = "Words Bruh";
}

@section nav_section{
	<header>
		<div class="container-fluid navi">
			<nav class="navbar justify-content-center ">
				<ul class="nav">

					<li class="nav-item">
						<a class="nav-link active" asp-area="" asp-page="/WordPage">Words</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-area="" asp-page="/Train">Train</a>
					</li>

					@if (User.Identity is null || !User.Identity.IsAuthenticated)
					{
						<li class="nav-item last">
							<a class="nav-link" asp-area="" asp-page="/Index">Login</a>
						</li>
					}
					else
					{
						<li class="nav-item">
							<a class="nav-link last" asp-area="" asp-page="/Logout">Logout (@User.Identity.Name)</a>
						</li>
					}
				</ul>
			</nav>
		</div>
	</header>
}

<div class="addwordsection">
	<div class="heading-word"><h2 class="heading2"> Add new word </h2></div>
	<form method="post" autocomplete="off">
		<div class="form-group row">
			@*	<input asp-for="OneWord.NickName" type="hidden" />
			<input asp-for="OneWord.Id" type="hidden" />*@

			<label class="col-form-label col-sm-2">Word </label>
			<div class="col-sm-10">
				<input class="form-control" asp-for="OneWord.Definition" autofocus required />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-form-label col-sm-2">Translation</label>
			<div class="col-sm-10">
				<input class="form-control" asp-for=" OneWord.Meaning" required />
			</div>
		</div>
		<div class="heading-word">
			<input class="btn btn-primary" type="submit" value="Add" />
		</div>

	</form>

</div>

<div>
	<div class="heading-word">
		<h2 class="heading2"> Words </h2>
	</div>
	@{
		@if (Model.Words.Count() > 0)
		{
			<div class="row">
				@foreach (var word in Model.Words)
				{
					<div class="col-lg-4 col-md-6 col-6">
						<p class="words">
							<form asp-page-handler="delete" method="post">
								<input type="hidden" name="word" value="@word.Definition" />
								<input type="hidden" name="meaning" value="@word.Meaning" />
								<button class="btn btn-outline-danger btn-sm">Del</button>
								<span class="word-span">@word.Definition - @word.Meaning </span>
							</form>
						</p>
					</div>
				}
			</div>
		}
	}
</div>

